<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Admin Users ListPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script type="text/javascript" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
</head>

<body>
<section layout:fragment="content" id="list">

    <a th:href="@{/admin/users/create}" class="btn btn-primary">Create User</a>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>

                            <tr th:each="u, user : ${users}" th:if="${u.isActive() != false}">
                                <td th:text="${u.getName()}"></td>
                                <td th:text="${u.getLastName()}"></td>
                                <td th:text="${u.getEmail()}"></td>
                                <td>
                                    <a th:href="@{/admin/users/update/{id}(id=${u.getId()})}" class="btn btn-success">Update</a>
                                    <a id="btnDelete" th:onclick="|del('${u.getId()}')|" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </table>

                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function del(id) {
            $.ajax({
                url : "/admin/users/delete",
                type : "post",
                data: {
                    'id': id
                },
                success : function (result){
                    $('#list').load(document.URL +  ' #list');
                }
            });
        }
    </script>
</section>

</body>
</html>
